.footer {
    padding: 20px;

    &__madeBy {
        text-transform: uppercase;
        font-size: 14px;
        line-height: 1.5;
        a {
            text-decoration: none;
            color: #f2709c;
        }
    }
}
